@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    height: 100%;
  }

  body {
    @apply bg-slate-900 text-white antialiased;
    font-family: "Poppins", sans-serif;
  }
}
